<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;  upto 2021</p>
         <p class="m-0 text-center text-white">Creator - Vivek Rana</p>
    </div>
    <!-- /.container -->
</footer>
